
	<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


<body>
    <!-- Navigation -->
    <!-- <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle">
          <i class="fa fa-times"></i>
        </a>
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#top">Nhan To</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="#top">Home</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="#about">About</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="#services">Services</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="#portfolio">Portfolio</a>
        </li>
        <li>
          <a class="js-scroll-trigger" href="#contact" onclick=$( "#menu-close").click();>Contact</a>
        </li>
      </ul>
    </nav> -->

    <!-- Header -->
    <header class="header" id="top">
      <div style="background: url(https://i.imgur.com/ODyEJWq.jpg)" class="text-vertical-center">
        <h1 style="color: white" >Nhan To</h1>
        <h3 style="color: white" >Web Developer</h3>
        <br>
        
        <!-- <a href="#about" class="btn btn-dark btn-lg js-scroll-trigger">Find Out More</a> -->
      </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
      <div style="padding: 10%" class="container text-center">
        <h2>Dynamic and Responsive Design</h2>
        <p class="lead">Fluid and Manageable across all platforms using Bootstrap and Ruby on Rails</a>.</p>
      </div>
      <!-- /.container -->
    </section>

    <!-- Services -->
    <section style="background-color: #337AB7">
      <div  style="background-color: #337AB7" class="container">
        <div class="row text-center">
          <div class="col-lg-10 mx-auto">
            <h2>Technology</h2>
            <hr class="small">
            <!-- <div class="row"> -->
              <div class="col">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <strong>Client</strong>
                  </h4>
                  <p>HTML5 CSS3 Javascript Jquery Angular</p>
                  <!-- <a href="#" class="btn btn-light">Learn More</a> -->
      				<div style="background-color: white ;border-radius: 15px; padding: 18.5px">
      				<i style="font-size: 10rem" class="devicon-html5-plain-wordmark colored"></i>
      				<i style="font-size: 10rem" class="devicon-css3-plain-wordmark colored"></i>
      				<i style="font-size: 10rem" class="devicon-javascript-plain colored"></i>
      				<i style="font-size: 10rem" class="devicon-jquery-plain-wordmark colored"></i>
      				<i style="font-size: 10rem" class="devicon-angularjs-plain colored"></i>
      				</div>
                </div>
              </div>
              <div class="col">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-compass fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <strong>Server</strong>
                  </h4>
                  <p>PHP RoR Node.js Express.js Nginx</p>
                  <!-- <a href="#" class="btn btn-light">Learn More</a> -->
                  <div style="background-color: white ;border-radius: 15px; padding: 18.5px">
                  <i style="font-size: 10rem" class="devicon-php-plain colored"></i>
                  <i style="font-size: 10rem" class="devicon-ruby-plain-wordmark colored"></i>
                  <i style="font-size: 10rem" class="devicon-nodejs-plain colored"></i>
                  <i style="font-size: 10rem" class="devicon-express-original colored"></i>
                  <i style="font-size: 10rem" class="devicon-nginx-plain colored"></i>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-flask fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <strong>Database</strong>
                  </h4>
                  <p>MongoDB MySQL Postgres</p>
				<div style="background-color: white ;border-radius: 15px; padding: 19px">
                  <i style="font-size: 10rem" class="devicon-mongodb-plain-wordmark colored"></i>
                  <i style="font-size: 10rem" class="devicon-mysql-plain-wordmark colored"></i>
                  <i style="font-size: 10rem" class="devicon-postgresql-plain-wordmark colored"></i>
                  <i style="font-size: 10rem" class="devicon-apache-plain-wordmark colored"></i>
                  <i style="font-size: 10rem" class="devicon-heroku-line-wordmark colored"></i>
                 </div>
                  <!-- <a href="#" class="btn btn-light">Learn More</a> -->
                </div>
              </div>
              <!-- <div class="col-md-3 col-sm-6">
                <div class="service-item">
                  <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-shield fa-stack-1x text-primary"></i>
                  </span>
                  <h4>
                    <strong>Service Name</strong>
                  </h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                  <a href="#" class="btn btn-light">Learn More</a>
                </div>
              </div> -->
            <!-- </div> NHAN PAY ATTENTION --> 
            <!-- /.row (nested) -->
          </div>
          <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
      <br>
      <br>
      <br>
    </section>

    <!-- Callout -->
<!--     <aside class="container">
      <div class="text-vertical-center">
        <h1>Vertically Centered Text</h1>
      </div>
    </aside> -->

    <!-- Portfolio -->
    <section id="portfolio" class="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto text-center">
            <h2>Portfolio</h2>
            <hr class="small">
            <div style="padding-bottom: 15%;" class="container">
  <div style="width: 83%" class="row">
    <div class="col">
      <strong>E-Commerce</strong>
      <br>
       <!-- <a href="#" class="btn btn-dark">Link</a>
       <br> -->
       <a href="https://immense-escarpment-74711.herokuapp.com/"><img style="border-radius: 35px;padding: 20px; width: 250px; height: 250px" src="https://i.imgur.com/uElpiBQ.png" border="0"></a>
    </div>
    <div class="col">
      <strong>Company Site</strong>
      <br>
       <!-- <a href="#" class="btn btn-dark">Link</a>
       <br> -->
       <a href="dash"><img style="border-radius: 35px;padding: 20px; width: 250px; height: 250px" src="https://i.imgur.com/W5cvNgS.png" alt="company" border="0"></a>
    </div>
    <div class="col">
      <strong>Lend Me</strong>
       <br>
       <a href="https://arcane-shore-94674.herokuapp.com/"><img style="border-radius: 35px;padding: 20px; width: 250px; height: 250px" src="https://i.imgur.com/Gi1HukC.png" alt="blog" border="0"></a>
    </div>
  </div>
</div>
<br>
<br>
<br>


    <!-- Call to Action -->
  <!--  <div style="text-align: center" class="container"  >
   	 <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script><div style='overflow:hidden;height:440px;width:900px;'><div id='gmap_canvas' style='height:400px;width:100% !important;padding-bottom: 75%;'></div><div><small><a href="http://embedgooglemaps.com">http://EmbedGoogleMaps.com</a></small></div><div><small><a href="https://ph.paylesser.com/takatack-voucher">takatack voucher</a></small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div><script type='text/javascript'>function init_map(){var myOptions = {zoom:14,center:new google.maps.LatLng(34.059534,-118.34911690000001),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(34.059534,-118.34911690000001)});infowindow = new google.maps.InfoWindow({content:'<strong>Home</strong><br>Miracle Mile, Los Angeles<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>

   </div> -->
    <!-- Footer -->
    <footer style="text-align: center;">
      <div class="container">
          <div class="col-lg-10 mx-auto text-center">
            <br><img style="border-radius: 50%; width: 5%; height: 5%" src="https://i.imgur.com/yG2BDsX.jpg" border="0"><br>
            <h4>
              <strong>Contact</strong>
            </h4>
            <p>Miracle Mile, CA 90036</p>
                <i class="fa fa-phone fa-fw"></i>
                (818) 274-4744
                <br>
                <a href="mailto:name@example.com">nhan.thanh.to@gmail.com</a>
            <br>
                <a style="padding: 5px" href="https://github.com/nhanthanto">
                  <i style="font-size: 4rem"class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a style="padding: 5px" href="mailto:nhan.thanh.to@gmail.com">
                  <i style="font-size: 4rem" class="fa fa-envelope" aria-hidden="true"></i>
                </a>
                <a style="padding: 5px" href="https://www.linkedin.com/in/nhanthanhto">
                  <i style="font-size: 4rem" class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
            <hr class="small">
            <p class="text-muted">Copyright &copy; nhanto.info 2017</p>
                  <a href="#top" class="btn btn-dark btn-lg js-scroll-trigger">
        <i class="fa fa-chevron-up fa-fw fa-1x"></i>
      </a>
          </div>
      </div>
    </footer>