<header>
	<script src="https://use.fontawesome.com/2fde9906aa.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</header>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/ecommerce">TheShop</a>
  <a style="color: white">&copy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/store/contacts">About Us</a>
      </li>

    </ul>
            <a href="/store/cart">
          <i style="font-size: 4rem; padding-right: 15px" class="fa fa-shopping-cart" aria-hidden="true"></i>
        </a>
 	<form style="float: right" class="form-inline">
	    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
  	</form>
  </div>
</nav>
<br>

<div style="text-align: center;border-radius: 25px" class="jumbotron">
  <h1 class="display-3">About Us</h1>
  <p class="lead">We're an online store dedicated to the sales of tech merchandise</p>
  <p>West Hollywood</p>
  <p>9954 Wilshire Blvd Suite #1400</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/ecommerce" role="button">Go Back</a>
  </p>
</div>