<header>
	<script src="https://use.fontawesome.com/2fde9906aa.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

</header>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">TheShop</a>
  <a style="color: white">&copy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li>
      	<a style="padding: 15px" href="">
      		<i style="font-size: 2rem" class="fa fa-shopping-cart" aria-hidden="true"></i>
      	</a>
      </li>
    </ul>
 	<form class="form-inline">
	    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
	    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  	</form>
  </div>
</nav>
<br>

<div class="jumbotron jumbotron-fluid">
  <h1 class="display-3">Welcome to TheShop</h1>
  <p class="lead">Check out our special sales on designer clothing.</p>
  <p>Fall outfits on sale!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<div class="container">
	  <div class="row">
    <div class="col">
     <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="https://thumb.ibb.co/hPwtTw/business_2717063.jpg" alt="business_2717063" border="0" alt="Card image cap">
  <div class="card-body">
    <button type="button" class="btn btn-primary">Add to Cart</button>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="https://thumb.ibb.co/hPwtTw/business_2717063.jpg" alt="business_2717063" border="0" alt="Card image cap">
  <div class="card-body">
    <button type="button" class="btn btn-primary">Add to Cart</button>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="https://thumb.ibb.co/hPwtTw/business_2717063.jpg" alt="business_2717063" border="0" alt="Card image cap">
  <div class="card-body">
    <button type="button" class="btn btn-primary">Add to Cart</button>
  </div>
</div>
    </div>
  </div>
</div>
<div class="container">
	  <div class="row">
    <div class="col">
     <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="https://thumb.ibb.co/hPwtTw/business_2717063.jpg" alt="business_2717063" border="0" alt="Card image cap">
  <div class="card-body">
    <button type="button" class="btn btn-primary">Add to Cart</button>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="https://thumb.ibb.co/hPwtTw/business_2717063.jpg" alt="business_2717063" border="0" alt="Card image cap">
  <div class="card-body">
    <button type="button" class="btn btn-primary">Add to Cart</button>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="width: 20rem;">
  <img class="card-img-top" src="https://thumb.ibb.co/hPwtTw/business_2717063.jpg" alt="business_2717063" border="0" alt="Card image cap">
  <div class="card-body">
    <button type="button" class="btn btn-primary">Add to Cart</button>
  </div>
</div>
    </div>
  </div>
</div>

<a href="/">Portfolio</a>